table#minefield {
  border: 2px solid black;
}

table#minefield>tbody>tr>td {
  border: 1px solid grey;
  font-size: 1em;
  width: 30px;
  height: 30px;
  text-align: center;
}

table#minefield>tbody>tr>td.normal {
  background-color: lightsteelblue;
}

table#minefield>tbody>tr>td:hover,
table#minefield>tbody>tr>td.normal:hover,
table#minefield>tbody>tr>td.mine:hover {
  background-color: lightslategrey;
}

table#minefield>tbody>tr>td.mine {
  background-color: orangered;
}