table#minesweeper {
  border: 2px solid black;
}

table#minesweeper>tbody>tr>td {
  border: 1px solid grey;
  font-size: 1em;
  width: 30px;
  height: 30px;
  text-align: center;
}

table#minesweeper>tbody>tr>td.normal {
  background-color: lightsteelblue;
}

table#minesweeper>tbody>tr>td:hover,
table#minesweeper>tbody>tr>td.normal:hover,
table#minesweeper>tbody>tr>td.mine:hover {
  background-color: lightslategrey;
}

table#minesweeper>tbody>tr>td.mine {
  background-color: orangered;
}

#level-form {
  width: 200px;
}

#size-form {
  width: 250px;
}

#mines-form {
  width: 170px;
}

#start {
  width: 150px;
}

#timer-form {
  width: 200px;
}